@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container-header{
    background: #1e2326 ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a{
    font-family: 'Ubuntu Mono';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.container-header header ul{
    display: flex;
    list-style: none;
}

.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.5), rgba(30,35,38,1)),
    url(img/background.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .container-img img{
    height: 55vh;
}

.inicio .content-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .content-banner h1{
    margin-top: 30px;
    font-size: 42px;
    font-family: sans-serif;
}

.inicio .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .content-banner .social-networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .content-banner .social-networks a:hover{
    background-color: #1CB698;
}

.aboutme{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.aboutme .content-section{
    max-width: 1100px;
    margin: auto;
}

.aboutme h2{
    font-size: 48px;
    font-family: 'Ubuntu Mono';
    text-align: center;
    padding: 20px 0;

}

.aboutme .content-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;    
}

.aboutme .content-section p span{
    color: #1CB698;
    font-weight: bold;
}

.aboutme .row{
    display: flex;
}

.aboutme .row .col{
    width: 50%;
}

.aboutme .row .col h3{
    font-size: 28px;
    font-family: 'Ubuntu Mono';
    margin-bottom: 25px;
}

.aboutme .row .col ul{
    list-style-type: none;
}

.aboutme .row .col ul li{
    margin: 12px 0; 
}

.aboutme .row .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.aboutme .row .col .container-interests{
    display: flex;
    flex-wrap: wrap;
}


.aboutme .row .col .container-interests .interest{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.aboutme .row .col .container-interests .interest:hover{
    background-color: #1CB698;
}

.aboutme .row .col .container-interests .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.aboutme button:hover .overlay{
    width: 100%;
}

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .content-section{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Ubuntu Mono';
    text-align: center;
    padding: 20px 0;

}

.skills .row{
    display: flex;
}

.skills .row .col{
    width: 50%;
    padding: 0 20px;
}

.skills .row .col h3{
    font-size: 28px;
    font-family: 'Ubuntu Mono';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .bar-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progress{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .bar-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0%{width:0%;}
    100%{width: 90%;}
}

.skills .skill .c{
    width: 0%;
    animation: 2s c forwards;
}

@keyframes c {
    0%{width:0%;}
    100%{width: 80%;}
}

.skills .skill .sql{
    width: 0%;
    animation: 2s sql forwards;
}

@keyframes sql {
    0%{width:0%;}
    100%{width: 90%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width:0%;}
    100%{width: 65%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width:0%;}
    100%{width: 65%;}
}

.skills .skill .excel{
    width: 0%;
    animation: 2s excel forwards;
}

@keyframes excel {
    0%{width:0%;}
    100%{width: 71%;}
}

.skills .skill .docker{
    width: 0%;
    animation: 2s docker forwards;
}

@keyframes docker {
    0%{width:0%;}
    100%{width: 63%;}
}

.skills .skill .comunication{
    width: 0%;
    animation: 2s comunication forwards;
}

@keyframes comunication {
    0%{width:0%;}
    100%{width: 92%;}
}

.skills .skill .pr{
    width: 0%;
    animation: 2s pr forwards;
}

@keyframes pr {
    0%{width:0%;}
    100%{width: 87%;}
}

.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork {
    0%{width:0%;}
    100%{width: 79%;}
}

.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}

@keyframes creativity {
    0%{width:0%;}
    100%{width: 93%;}
}

.skills .skill .dedication{
    width: 0%;
    animation: 2s dedication forwards;
}

@keyframes dedication {
    0%{width:0%;}
    100%{width: 86%;}
}

.portfolio {
    background-color: #131517;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .content-section{
    max-width: 1100px;
    margin: auto;
}

.portfolio h2{
    font-size: 48px;
    font-family: 'Ubuntu Mono';
    text-align: center;
    padding: 20px 0;
}

.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .gallery .project{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .gallery .project img{
    width: 100%;
    display: block;
}

.portfolio .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8),rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .gallery .project .overlay h3{
    margin-bottom: 2px;
    transition: 2s;
}

.portfolio .gallery .project .overlay:hover{
    opacity: 1;
}

.portfolio .gallery .project .overlay h3:hover{
    margin-bottom: 1px;
}

@media screen and (max-width:980px) {
    nav{
        display:none;
    }
    .nav-responsive{
        display: block;
    }
    .nav-responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav .responsive ul{
        display: block !important;
    }
    nav .responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width: 700 px){
    .aboutme .row {
        display: block;
    }
    .aboutme .row .col{
        width: fit-content;
    }
    .skills .row{
        display:block;
    }
    .skills .row .col{
        width: 100%;
    }
    .skills .row .col .bar-skill{
        width: 100%;
    }
    .portfolio .gallery{
        display:block;
        width: 100%;
    }
    .portfolio .gallery .project{
        max-width: 100%;
    }
    .portfolio .gallery .project img{
        width: 100%;
    }
}